.flex-container {
    display: flex;
    flex-flow: column;
    width: 900px;
    height: 500px;
    background-color: white;
  }


 .cardfee-container{
     display: flex;
     justify-content: center;
 }

 .titleinput1-container {
     display: flex;
     flex-direction: row;
    
 }

.sellingprice-container {
    gap: 10px;
}

 .titleinput2-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
 }

.sellingpricetitle {
    margin-left: px;
}

.notax{
    margin-left: 9px;
}

.tax {
    margin-left: -7px;
}


.sellingprice {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    /* margin-left: 30px; */
    
 }

 .pricenotax {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 3px;
}

.Tax {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: -12px;
}


.taxcategorytitle {
    margin-left: 3px;
}

.lastmodifiedtitle {
    margin-left: 48px;
}

.modifiedbytitle {
    margin-left: 58px;
} 



.taxcategory {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    /* margin-left: 30px; */
}

.lastmodified {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 42px;
}

.modifiedby {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 55px;
}

.radiobutton-checkbox1 {
    display: flex;
    flex-direction: row;
    /* height: 80px; */
    margin-top: 30px;
}

.radiobutton-checkbox2 {
    display: flex;
    flex-direction: row;
    /* height: 70px; */
    margin-top: 30px;
}

.two-buttons {
    display: flex;
    justify-content: center;
}

.radiobutton1 {
    width: 17px;
    height: 17px;
    margin-left: 30px;
}

.radiobutton2 {
    width: 17px;
    height: 17px;
    margin-left: 30px;
    margin-top: -25px;
}

.addlabel {
    margin-top: -25px;
}

.checkbox1 {
    width: 17px;
    height: 17px;
    margin-left: 135px;
}

.checkbox2{
    width: 17px;
    height: 17px;
    margin-left: 135px;
    margin-top: -6px;
}

.enabledlabel {
    margin-top: -6px;
}

.save-settings {
    background-color: #60cc65;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}

.save-settings:hover {
    background-color: #F7F7F7;
    color: #60cc65;
}

.cancel {
    background-color: #F7F7F7;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}


/* Small Screen */
@media only screen and (max-width: 500px) {

 .flex-container{
     width: 100%;
 } 

 .titleinput1-container {
    display: flex;
    flex-direction: column;
}

.titleinput1-container > input{
    width: 100%;
    margin-left: 0px;
    height: 70px;
}

.titleinput2-container {
    display: flex;
    flex-direction: column;
}

.titleinput2-container > input{
    width: 100%;
    margin-left: 0px;
    height: 70px;
}

.pricenotax {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 0px;
}

.Tax {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 0px;
}
.tax {
    margin-left: 0px;
}

.notax{
    margin-left: 0px;
}

.lastmodified {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 0px;
}

.modifiedby {
    height: 35px;
    border-radius: 10px;
    width: 260px;
    margin-left: 0px;
}

.taxcategorytitle {
    margin-left: 0px;
}

.lastmodifiedtitle {
    margin-left: 0px;
}

.modifiedbytitle {
    margin-left: 0px;
} 

.radiobutton1 {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-top: -34px;
}

.radiobutton2 {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-top: -59px;
}

.checkbox1 {
    width: 80px;
    height: 80px;
    margin-left: 55px;
    margin-top: -33px;
}

.checkbox2{
    width: 80px;
    height: 80px;
    margin-left: 55px;
    margin-top: -51px;
}

.enabledlabel {
    margin-top: -16px;
}
.save-settings {
    background-color: #60cc65;
    border: none;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}

.cancel {
    background-color: #F7F7F7;
    border: none;
    color: black;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 9px;
    cursor: pointer;
    width: 250px;
    height: 45px;
}


.two-buttons {
margin-top: 5px;
}

}



/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
} */
