<div class="flex-container">

  <div class="cardfee-container">

  <h2>NEW CARD FEE SETTINGS</h2>

  </div>


<div class="titleinput1-container">
  
  <div class="sellingprice-container">
    <label for="Selling Price" class="sellingpricetitle" > Selling Price</label>
    <input id="SellingPrice" class="sellingprice" [(ngModel)]="sellingprice" />
  </div>
  
  <div class="pricenotax-container">
    <label for="Price - No Tax" class="notax" > Price - No Tax </label>
    <input id="PriceNoTax" class="pricenotax" [(ngModel)]="pricenotax" />
  </div>
  
  <div class="tax-container">
    <label for="Tax" class="tax" > Tax </label>
    <input id="Tax" class="Tax" [(ngModel)]="tax" />
  </div>

</div>


<div class="titleinput2-container">

  <div class="taxcategory-container">
    <label for="Tax Category" class="taxcategorytitle" > Tax Category </label>
    <input id="TaxCategory" class="taxcategory" [(ngModel)]="taxcategory" /> 
  </div>
  
  <div class="lastmodified-container">
    <label for="Last Modified" class="lastmodifiedtitle" > Last Modified </label>
    <input id="LastModified" class="lastmodified" [(ngModel)]="lastmodified" />
  </div>
  
  <div class="modifiedby-container">
    <label for="Modified By" class="modifiedbytitle" > Modified By </label>
    <input id="ModifiedBy" class="modifiedby" [(ngModel)]="modifiedby" />
  </div>
  
</div>


<div class="radiobutton-checkbox1">
  <input type="radio" id="deduct" class="radiobutton1" name="deduct" value="Deduct New Card Fee">  
  <label for="deduct"> Deduct New Card Fee From Cash Balance <br>
  (Standard Cards Only) </label>
 
  
  <input type="checkbox" id="comped" class="checkbox1" name="comped" value="Comped New Card Fee"> 
  <label for="comped"> Comped New Card Fee With Cash Bonus <br> 
    (Comped Cash Bonus Includes Tax When Tax In Price <br> 
    Comped Cash Bonus Includes Tax When Tax On Price) </label>
  
</div>

  <div class="radiobutton-checkbox2">
    <input type="radio" id="add" class="radiobutton2" name="add" value="Add New Card Fee"> 
    <label for="add" class="addlabel"> Add New Card Fee To Card Product Price <br>
      (All Card Product Types) </label>

    <input type="checkbox" id="enabled" class="checkbox2" name="enabled" value="Enabled New Card Fee">
    <label for="enabled" class="enabledlabel"> Enabled New Card Fee Charged In Ecommerce <br> 
      (New Card Fee Will be Added to Card Product Price. <br>
      The New Card Fee Won't Be Comped With Cash Bonus) </label>

  </div>


  <div class="two-buttons">
  
    <button type="button" class="save-settings" (click)="save()" > SAVE SETTINGS </button>
    <button type="button" class="cancel" (click)="cancel()" > CANCEL </button>
  
  </div>


</div>



  <!-- <div class="cardfee-title1-container">
    <div class="three-tiles1">
    </div>
  </div>

  <div class="cardfee-input1-container">
  </div> -->
  
  <!-- <div class="cardfee-title2-container">
    <div class="three-tiles2">
    </div>
  </div>

  <div class="cardfee-input1-container">  
  </div> -->
  


